.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.top-buttons {
    padding-left: 10rem;
    display: flex;
    gap: 24px;
}