.configuracoes-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #fff;
    padding: 20px;
    /* align-items: center; */
    justify-content: flex-start;
}

.conteudo-configuracoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}