/* setting.css */
.settings {
    padding-top: 25rem;
}

.settingTitulo {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    /* Adicionei margem abaixo do título para espaçamento */
}

.configuracoes-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #fff;
    padding: 20px;
    /* Added some padding around the overlay */
    align-items: center;
    /* Centralizei os itens horizontalmente */
    justify-content: flex-start;
    /* Alinhei os itens ao topo */
}

.fechar-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    /* Added some margin below the close button */
}

.conteudo-configuracoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    /* Não precisamos mais do posicionamento absoluto aqui */
}

.btn-container {
    display: flex;
    gap: 20px;
    /* Adds spacing between the buttons */
    margin-top: 30px;
    /* Mantive a margem superior */
    justify-content: flex-end;
    /* Alinha os itens à direita */
    width: 100%;
    /* Garante que o contêiner dos botões ocupe toda a largura */
    padding-left: 180px;
    /* Adiciona um pouco de espaço à direita, se necessário */
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
}

/* CSS for the buttons */
.btn-container button {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container button:hover {
    opacity: 0.8;
}

/* Style for the "Sing In" button */
.btn-container button:nth-child(1) {
    background-color: #007bff;
    color: white;
}

/* Style for the "Log In" button */
.btn-container button:nth-child(2) {
    background-color: red;
    color: white;
}