.close-button {
  align-items: center;
  background: rgba(255, 0, 51, 0.9);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}

.close-button:hover {
    background-color: rgba(255, 49, 49, 0.9);
}