.expanded-chart-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 20px;
    position: relative;
    width: 80%;
}


.expanded-chart-container .chart-container {
    flex-grow: 1;
    height: calc(100% - 10px);
    width: 100%;

}


.expanded-chart-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.expanded-chart-actions button {
    font-size: 0.9em;
    padding: 8px 12px;
    width: 100%;
}

.expanded-chart-actions button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.expanded-chart-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.expanded-chart-actions a {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}