.home-container {
  display: flex;
  flex-direction: column;
  height: 48rem;
  padding: 60px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
}


.icones {
  background-color: none;
  border: none;
  width: 50px;
}