/* imgAtrazDoGrafico.css */

.production-section {
    margin-top: -130px;
    z-index: 10000;
}

/* Base style for the background image container */
.fundoComimgAntesDografico {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    /* altura da imagem de fundo */
    z-index: 0;
    pointer-events: none;
    /* evita que a imagem interfira em cliques */
    overflow: hidden;
}

/* Common styles for the ::before pseudo-element */
.fundoComimgAntesDografico::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    filter: brightness(0.7);
    z-index: 0;

    /* Máscara para apagar a parte de baixo da imagem */
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

/* Specific background images for each time of day */
.fundoComimgAntesDografico.morning-bg::before {
    background-image: url('../../imgs//imgHome/placaManha.jpg');
    /* Morning image (6 AM - 11:59 AM) */
    transition: opacity 1.5s ease-in-out;
}

.fundoComimgAntesDografico.afternoon-bg::before {
    background-image: url('../../imgs//imgHome/placaTarde.jpg');
    /* Afternoon image (12 PM - 5:59 PM) */
}

.fundoComimgAntesDografico.night-bg::before {
    background-image: url('../../imgs//imgHome/placaNoite.jpg');
    /* Night image (6 PM - 5:59 AM) */
}


/* Garante que o conteúdo fique acima da imagem */
.main-content {
    padding-top: 7rem;
    position: relative;
    z-index: 1;
}

.fundoComimgAntesDografico h1 {
    position: relative;
    /* garante que o texto fique acima da imagem */
}