.production-section {
    margin-top: -130px;
    z-index: 10000;
}

/* Imagem de fundo no topo, com opacidade */
.fundoComimgAntesDografico {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    /* altura da imagem de fundo */
    z-index: 0;
    pointer-events: none;
    /* evita que a imagem interfira em cliques */
    overflow: hidden;
}

.fundoComimgAntesDografico::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../imgs/imgHome/placasSolaresResidencial.jpg');
    opacity: 0.9;
    filter: brightness(0.7);
    z-index: 0;

    /* Máscara para apagar a parte de baixo da imagem */
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}


/* Garante que o conteúdo fique acima da imagem */
.main-content {
    padding-top: 7rem;
    position: relative;
    z-index: 1;
}

.fundoComimgAntesDografico h1 {
    position: relative;
    /* garante que o texto fique acima da imagem */
}