:root {
    --branco: #fff;
    --azul: #007bff
}


.production-section {
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    width: calc(50% - 10px);
}


.production-section h2 {
    color: var(--azul);
    margin-bottom: 15px;
}