.share-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.share-options button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    flex-grow: 1;
    font-size: 0.8em;
    padding: 8px 10px;
    text-align: center;
    transition: background-color 0.3s ease;

    /* Faz os botões ocuparem o espaço igualmente */
}

.share-options:hover {
    cursor: pointer;
}