.login-info {
    flex: 1;
    background: linear-gradient(to bottom right, #6a11cb, #2575fc);
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.login-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}

.login-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.login-info li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.login-info li span {
    font-size: 1.5rem;
    margin-right: 0.8rem;
}