:root {
    --branco1: #ffffff;
    --branco2: #eee;
    --cinza: #aaa
}


.or-separator {
    margin: 1.5rem 0;
    text-align: center;
    position: relative;
    color: var(--cinza);
}

.or-separator span {
    background-color: var(--branco1);
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.or-separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid var(--branco2);
    z-index: 0;
}