:root {
    --branco: #fff
}

.social-login-buttons button {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    color: var(--branco);
}