.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
    margin-bottom: 50px;
}

.contato-header {
    text-align: center;
    margin-bottom: 30px;
}

.contato-header h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contato-header .subtitulo {
    color: #666;
    font-size: 1em;
}

.subtitulo {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}