.contato-info .social-icons {
    margin-top: 30px;
    width: 100%;
}

.contato-info .social-icons h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.contato-info .social-icons a {
    display: inline-block;
    margin-right: 15px;
    color: #555;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
}

.contato-info .social-icons a:hover {
    color: #007bff;
    transform: scale(1.1);
}

/* Cores específicas dos ícones */
.contato-info .social-icons a:nth-child(2) {
    /* Instagram */
    color: #E1306C;
}

.contato-info .social-icons a:nth-child(3) {
    /* LinkedIn */
    color: blue;
}

.contato-info .social-icons a:nth-child(4) {
    /* YouTube */
    color: red;
}
