:root {
    --color-text-default: #333;
    --color-text-muted: #555;
    --color-instagram: #E1306C;
    --color-linkedin: blue;
    --color-youtube: red;

    --color-hover: #007bff;
}

.contato-info .social-icons {
    margin-top: 30px;
    width: 100%;
}

.contato-info .social-icons h3 {
    color: var(--color-text-default);
    font-size: 1.2em;
    margin-bottom: 15px;
}

.contato-info .social-icons a {
    display: inline-block;
    margin-right: 15px;
    color: var(--color-text-muted);
    transition: color 0.3s ease, transform 0.3s ease-in-out;
}

.contato-info .social-icons a:hover {
    color: var(--color-hover);
    transform: scale(1.1);
}

/* Cores específicas dos ícones */
.contato-info .social-icons a:nth-child(2) {
    /* Instagram */
    color: var(--color-instagram);
}

.contato-info .social-icons a:nth-child(3) {
    /* LinkedIn */
    color: var(--color-linkedin);
}

.contato-info .social-icons a:nth-child(4) {
    /* YouTube */
    color: var(--color-youtube);
}