@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


:root {
    --footer-bg-color: #252525;
    --footer-text-color: #fff;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 0.1px 0;
    /* Para animação suave */
    opacity: 1;
    transition: opacity 0.4s ease;
    position: fixed;
    z-index: 1000;
    font-family: Orbitron;
}

/* .footer.hide {
    opacity: 0;
    pointer-events: none;
} */