body.light-theme,
.tipoGrafico {
    background-color: #fff;
    color: #000;
}



body.dark-theme {
    background-color: #121212;
    color: hsl(0, 0%, 93%);
}

body.dark,
.paragrafoFonteGrafico,
.tipoDoFundoConexao {
    color: #121212;
}

body.dark,
.placeholder-text,
.tituloHelpCenter {
    color: #fff;

}

body.dark,
.paragrafoContatoTitulo,
.paragrafoAdiconarAparelhos,
.connecting-message {
    color: #000;
}


body.light-theme .tituloConexao {
    color: black;
}

body.dark-theme .tituloConexao,
.placeholder-texte {
    color: white;
}


body.dark-theme .chat-container {
    background-color: #000;
    border: #000;
}

body.dark-theme .messagemInicial {
    color: #000;
}


body.dark-theme .contato-container {
    background-color: #000;
}


body.dark-theme .tituloHelpCenter {
    color: #fff;
}

body.light-theme .tituloHelpCenter {
    color: #000;
}


body.dark-theme .perguntasFrequentes {
    color: #fff;
}

body.light-theme .perguntasFrequentes {
    color: #000;
}

body.light-theme .tituloEsqueciSenha {
    color: black;
}

body.dark-theme .tituloEsqueciSenha {
    color: black;
}

body.dark-theme .toggle-button.connected-btn.active {
    color: rgba(15, 240, 252);
    opacity: 1;
}


body.dark-theme * {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(31, 81, 255, 0.7) #000;
    /* Firefox */
}