/*CSS geral*/

html,
body,
section,
main,
footer {
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

a {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

h1 {
  padding-top: 4rem;
  font-size: 25px;
}



























/* CSS/Reset.css ou outro */
.neon-border {
  box-shadow: 0 0 10px rgba(255, 0, 51, 0.7),
    0 0 20px rgba(255, 0, 51, 0.7),
    0 0 40px rgba(255, 0, 51, 0.7),
    0 0 80px rgba(255, 0, 51, 0.7);
  border: 2px solid rgba(255, 0, 51, 0.7);
  border-radius: 12px;
  transition: all 0.3s ease;
}