/* slideIn.css */
.retanguloAdicionado.entering {
    animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* For removing animation */
.retanguloAdicionado.exiting {
    animation: slideOutToRight 0.5s ease-out forwards;
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}