/* Estilos para a seleção de ícones */
.icon-picker-styled {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-picker-styled label {
    font-weight: bold;
    color: #555;
}

.icon-picker-styled .icons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* Permite que os ícones quebrem para a próxima linha em telas menores */
}

.icon-option {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon-option:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-option.active {
    border: 2px solid #007bff;
    opacity: 1;
    transform: scale(1.1);
}

.icon-option img {
    width: 40px;
    height: 40px;
}