/* Adicione isso em um dos seus arquivos CSS, por exemplo, 'adicionar.css' */

/* Container para alinhar o botão de adicionar e o botão de ícone de conexão */
.add-button-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-connection-button {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Adiciona uma margem à esquerda para criar espaço */
    margin-left: 10px;
}

.icon-connection-button:hover {
    background-color: #e0e0e0;
    border-color: #007bff;

}

/* Estilo para a imagem dentro do botão */
.icon-connection-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}