/* Adicione ao seu arquivo CSS */
.no-devices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    padding-top: 1rem;
}

.connect-device-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.connect-device-text {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}