:root {
    --color-bg-light-transparent: rgba(255, 255, 255, 0.1);
    --color-text-light: rgba(255, 0, 51, 0.3);
}

.no-devices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    padding-top: 1rem;

    /* Fundo clarinho e transparente */
    background-color: var(--color-bg-light-transparent);
    border-radius: 12px;
    padding: 2rem;
}

.connect-device-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;

    /* Opacidade para a imagem ficar mais clarinha */
    opacity: 0.3;

    /* Se quiser suavizar o contorno da imagem, pode usar filtro blur leve */
    /* filter: blur(0.5px); */
}

.connect-device-text {
    font-size: 24px;

    /* Cinza bem claro, quase branco */
    color: var(--color-text-light);

    margin-bottom: 20px;
}