:root {
    --placeholder-text-color: #888888;
    /* cor cinza suave */
}

.placeholder-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
    /* evita seleção acidental */
}

.placeholder-image {
    width: 300px;
}

.placeholder-text {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--placeholder-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}