/* Variáveis de cor */
:root {
    --light-color: rgba(255, 255, 255, 0.4);
    --light-transparent: rgba(255, 255, 255, 0);
}

/* Wrapper da imagem */
.image-wrapper {
    position: relative;
    /* Essencial para posicionar a luz em relação à imagem */
    display: inline-block;
    /* Garante que o wrapper se ajuste ao tamanho da imagem */
    overflow: hidden;
    /* Garante que a luz não saia do container */
}

/* Efeito de luz */
.light-effect {
    position: absolute;
    top: 0;
    left: -100%;
    /* Começa a luz fora da tela, à esquerda */
    width: 50%;
    /* Largura da "faixa de luz" */
    height: 100%;
    background: linear-gradient(to right, var(--light-transparent) 0%, var(--light-color) 50%, var(--light-transparent) 100%);
    /* Gradiente usando variáveis */
    animation: passLight 2.5s infinite linear;
}

/* Animação da luz */
@keyframes passLight {
    0% {
        left: -100%;
        /* Inicia fora da tela */
    }

    100% {
        left: 150%;
        /* Termina bem fora da tela, à direita */
    }
}

/* Container de placeholder da imagem */
.placeholder-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
    /* Centraliza verticalmente */
}

/* Estilo da imagem placeholder */
.placeholder-image {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse o container */
    height: auto;
    /* Mantém a proporção */
}