/* mediaScreen.css */

/* Para telas com largura máxima de 414px (iPhone XR em retrato) e menores */
@media (max-width: 414px) {
    .conexions-list {
        flex-direction: column;
        /* Organiza os itens em coluna */
        align-items: center;
        /* Centraliza os itens horizontalmente */
        padding-left: 10px;
        padding-right: 10px;
    }

    .retanguloAdicionado {
        width: 100%;
        /* Ocupa a largura total do container */
        margin-bottom: 15px;
        /* Adiciona um espaço entre os retângulos */
    }
}

/* Para telas maiores que 414px, você pode manter o layout anterior
   ou definir um novo comportamento se desejar. */
@media (min-width: 415px) {
    .placeholder-image-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* ajuste conforme necessário */
    }

    .placeholder-image {
        width: 150px;
        /* ajuste o tamanho como quiser */
        height: auto;
    }

    .placeholder-text {
        margin-top: 20px;
        font-size: 1.2em;
        text-align: center;
    }
}