/* Novo estilo para o contêiner do medidor */
.current-voltage-meter {
    display: flex;
    /* Permite que os itens fiquem lado a lado */
    justify-content: space-around;
    /* Espaça os itens uniformemente */
    align-items: center;
    width: 100%;
    /* Ocupa a largura total do contêiner pai */
    color: black;
    font-size: 14px;
    font-weight: bold;
}

/* Novo estilo para o contêiner principal de conteúdo */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}