/* mediaScreen.css */

/* Para telas com largura máxima de 414px (iPhone XR em retrato) e menores */
@media (max-width: 414px) {
    .conexions-list {
        flex-direction: column;
        /* Organiza os itens em coluna */
        align-items: center;
        /* Centraliza os itens horizontalmente */
        padding-left: 10px;
        padding-right: 10px;
    }

    .retanguloAdicionado {
        width: 100%;
        /* Ocupa a largura total do container */
        margin-bottom: 15px;
        /* Adiciona um espaço entre os retângulos */
    }
}

/* Para telas maiores que 414px, você pode manter o layout anterior
   ou definir um novo comportamento se desejar. */
@media (min-width: 415px) {
    .conexions-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 95%;
        padding: 20px;
        gap: 20px;
        margin-bottom: 60px;
        box-sizing: border-box;
    }

    .retanguloAdicionado {
        position: relative;
        width: 255px;
        height: 110px;
        background-color: #e0e0e0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        font-size: 1.1em;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        transition: transform 0.2s ease-in-out;
    }
}