.retanguloAdicionado {
    position: relative;
}

.qrcode-top-left {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

.qrcode-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    outline: none;
}

.qrCodeAparelhoConectado {
    width: 30px;
    height: 30px;
    /* Ensure consistent size */
}

.qrcode-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.close-qrcode {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10000;
}