/* adicionar.css */
.retanguloAdicionado.entering {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.retanguloAdicionado.entered {
    opacity: 1;
    transform: translateY(0);
}