.password-input-group {
    position: relative;
    display: flex;
    /* Usando Flexbox para alinhar label e input */
    flex-direction: column;
    /* Organiza os itens em coluna */
}

.password-input-group label {
    text-align: left;
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9em;
}

.password-input-group input[type='password'] {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    /* Espaço para o ícone */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
}

.password-toggle-icon:hover {
    color: #333;
}