:root {
    --color-label: #555;
    --color-border: #ddd;
    --color-input-text: #000;
    --color-icon-default: #777;
    --color-icon-hover: #333;
    --border-radius: 4px;
    --font-size-label: 0.9em;
    --font-size-input: 1em;
    --input-padding: 10px;
    --icon-right-spacing: 10px;
}

.password-input-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.password-input-group label {
    text-align: left;
    margin-bottom: 5px;
    color: var(--color-label);
    font-size: var(--font-size-label);
}

.password-input-group input[type='password'] {
    width: 100%;
    padding: var(--input-padding);
    padding-right: 30px;
    /* Espaço para o ícone */
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: var(--font-size-input);
    color: var(--color-input-text);
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: var(--icon-right-spacing);
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-icon-default);
}

.password-toggle-icon:hover {
    color: var(--color-icon-hover);
}