@keyframes drop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    80% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

.marker-drop {
    animation: drop 1s ease-out forwards;
}