html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mapa-container {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

header {
    position: fixed;
}

@keyframes pulse-circle {
    0% {
        stroke-width: 2;
        stroke-opacity: 0.4;
        fill-opacity: 0.15;
    }

    50% {
        stroke-width: 5;
        stroke-opacity: 0.1;
        fill-opacity: 0.05;
    }

    100% {
        stroke-width: 2;
        stroke-opacity: 0.4;
        fill-opacity: 0.15;
    }
}

.pulsar-circle {
    animation: pulse-circle 2.5s ease-out infinite;
}

@keyframes drop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    80% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

.marker-drop {
    animation: drop 1s ease-out forwards;
}