header {
    position: fixed;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 200;
    /* Garante que o header fique acima do menu */
    display: flex;
    /* Usamos flexbox para alinhar os itens */
    align-items: center;
    /* Alinha verticalmente ao centro */
    background-color: #252525;
}

#main {
    padding: 10px;
    /* Reduzi o padding para o ícone não ficar muito afastado */
}


.close-btn {
    /* Estilos para o botão de fechar */
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    background: none;
    border: none;
    color: #ddd;
    padding: 0;
    line-height: 1;
}

.close-btn:hover {
    color: #f1f1f1;
}

/*IMG*/
.imgHeader {
    width: 35px;
    padding-top: 0;
    cursor: pointer;
}


.settings {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: -50px;
    /* puxando para cima */
    display: flex;
    justify-content: center;
}


.settings:hover {
    opacity: 0.8;
    /* Feedback visual ao passar o mouse */
}