#menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    /* Organiza os itens verticalmente */
    align-items: flex-start;
    /* Alinha os itens à esquerda */
}

#menu.open {
    width: 150px;
}

#menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ddd;
    display: block;
    transition: 0.3s;
    margin-left: 15px;
    /* Adiciona um pouco de espaço à esquerda dos links */
}

#menu a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

header {
    position: fixed;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 200;
    display: flex;
    align-items: center;
    background-color: #252525;
}

#main {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    background: none;
    border: none;
    color: #ddd;
    padding: 0;
    line-height: 1;
}

.close-btn:hover {
    color: #f1f1f1;
}

/*IMG*/
.iconesHeader {
    width: 35px;
    padding-top: 0;
    cursor: pointer;
    padding-left: 2rem;
}


.settings {
    padding-left: 50px;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.imgHeader {
    padding-top: 3.5rem;
    /* Exemplo de valor menor */
    padding-left: 3.5rem;
    /* Exemplo de valor menor */
}

@media screen and (max-width: 414px) and (max-height: 896px) {
    .sua-classe {
        position: absolute;
        /* Ou position: fixed; dependendo do seu layout */
        bottom: 0;
        left: 0;
        width: 100%;
        /* Para ocupar toda a largura da tela */
        /* Adicione outros estilos conforme necessário */
        padding-top: 25rem;
    }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
    .sua-classe {
        position: absolute;
        /* Ou position: fixed; dependendo do seu layout */
        bottom: 0;
        left: 0;
        width: 100%;
        /* Para ocupar toda a largura da tela */
        /* Adicione outros estilos conforme necessário */
        padding-top: 25rem;
    }
}

@media screen and (width: 360px) and (height: 720px) {
    .imgHeader {
        padding-top: 15rem;
        /* Ajuste este valor para mover a imagem para cima */
    }
}

@media screen and (width: 360px) and (height: 740px) {
    .imgHeader {
        padding-top: 14rem;
        /* Ajuste este valor para mover a imagem ainda mais para cima */
    }
}