#menuIcon {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    /* Adiciona margem à esquerda para separá-lo da borda */
}

#menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    /* Adiciona padding na parte inferior */
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    /* Remova a linha abaixo */
    /* justify-content: space-between; */
}

#menu.open {
    width: 150px;
}

#menu a {
    /* padding: 8px 8px 8px 32px; */
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ddd;
    display: block;
    transition: 0.3s;
}

#menu a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}