:root {
    --success-color: #2ECC71;
    --success-bg-color: rgba(46, 204, 113, 0.1);
    --error-color: #E74C3C;
    --error-bg-color: rgba(231, 76, 60, 0.1);
}

.success-message {
    color: var(--success-color);
    background-color: var(--success-bg-color);
    border: 1px solid var(--success-color);
}

.error-message {
    color: var(--error-color);
    background-color: var(--error-bg-color);
    border: 1px solid var(--error-color);
}