:root {
    --color-text: #2C3E50;
    --font-family-base: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--font-family-base);
    color: var(--color-text);
    background-color: var(--background-color);
}