/* Estilos gerais para o chat-container */
.chat-container {
    border: 1px solid #ddd;
    border-radius: 12px;
    /* max-width: 630px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    height: 65px;
    /* Altura padrão para telas maiores ou outras */
    background: #fff;
    overflow: hidden;
    padding: 16px;
    padding-top: 2rem;
    padding-bottom: 10rem;
}

