:root {
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.12);
    --cor-fundo: #fff;
    --cor-fonte: #333;
    /* Se quiser usar para textos */
}

/* Estilos gerais para o chat-container */
.chat-container {
    border: 1px solid var(--cor-borda);
    border-radius: 12px;
    /* max-width: 630px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 24px var(--cor-sombra);
    display: flex;
    flex-direction: column;
    height: 65px;
    /* Altura padrão para telas maiores ou outras */
    background: var(--cor-fundo);
    overflow: hidden;
    padding: 16px;
    padding-top: 2rem;
    padding-bottom: 10rem;
}
















































.quick-suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 10px 10px 0 10px;
}

.suggestion-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestion-button:hover {
    background-color: #ddd;
}