.clear-button {
    background: none;
    /* Remove o fundo */
    border: none;
    /* Remove a borda */
    padding: 0;
    /* Remove o espaçamento interno */
    cursor: pointer;
    /* Mostra o cursor de clique */
    display: inline-flex;
    /* Para alinhar conteúdo se necessário */
    align-items: center;
    justify-content: center;
}

.clear-button .iconeImgTrash {
    width: 45px;
    /* Tamanho da imagem */
    height: 45px;
    object-fit: contain;
    /* Mantém proporção */
}