.chat-background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* fica logo abaixo da msg inicial */
}

.chat-background-image img {
    max-width: 250px;
    opacity: 0.07;
    /* controla a opacidade */
    padding-top: 5rem;
}