@media (max-width: 896px) {
    .chat-container {
        height: 690px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message-input-form {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 1024px) {
    .chat-container {
        height: 700px;
        max-width: 700px;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .message-display-area {
        max-height: 580px;
        overflow-y: auto;
    }
}


























