:root {
    --bg-message-area: #f7f9fc;
    --box-shadow-message-area: #e3eaf1;

    --user-bg: #252525;
    --user-color: #fff;

    --bot-bg: #E6E6FA;
    --bot-color: #1a202c;

    --input-bg: #333;
    --input-bg-focus: #252525;
    --input-border: #ccc;
    --input-border-focus: #4facfe;
    --input-box-shadow: rgba(0, 0, 0, 0.08);
    --input-box-shadow-focus: rgba(79, 172, 254, 0.2);

    --placeholder-color: #999;
}

.message-display-area {
    flex-grow: 1;
    overflow-y: auto;
    padding: 12px;
    background: var(--bg-message-area);
    border-radius: 12px;
    box-shadow: inset 0 0 6px var(--box-shadow-message-area);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message {
    max-width: 75%;
    word-break: break-word;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1.4;
}

.movimentoDaDiv {
    padding-left: 3rem;
}

.messageBot {
    max-width: 75%;
    word-break: break-word;
    padding: 12px 16px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.09);
    font-size: 15px;
    line-height: 1.4;
}

.message.user {
    align-self: flex-end;
    background: var(--user-bg);
    color: var(--user-color);
    border-bottom-right-radius: 4px;
    animation: fadeIn 0.3s ease forwards;
}

.message.bot {
    align-self: flex-start;
    background: var(--bot-bg);
    color: var(--bot-color);
    border-bottom-left-radius: 4px;
    animation: fadeIn 0.3s ease forwards;
}

.message-input {
    flex-grow: 1;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid var(--input-border);
    outline: none;
    transition: all 0.3s ease;
    background-color: var(--input-bg);
    color: var(--user-color);
    box-shadow: 0 2px 6px var(--input-box-shadow);
}

.message-input:focus {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 3px var(--input-box-shadow-focus);
    background-color: var(--input-bg-focus);
    color: var(--user-color);
}

.message-input::placeholder {
    color: var(--placeholder-color);
}