.message-display-area {
    flex-grow: 1;
    overflow-y: auto;
    padding: 12px;
    background: #f7f9fc;
    /*Fundo da mensagem */
    border-radius: 12px;
    box-shadow: inset 0 0 6px #e3eaf1;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message {
    max-width: 75%;
    word-break: break-word;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1.4;

}

.movimentoDaDiv {
    padding-left: 3rem;

}

.messageBot {
    max-width: 75%;
    word-break: break-word;
    padding: 12px 16px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.09);
    font-size: 15px;
    line-height: 1.4;
}

.message.user {
    align-self: flex-end;
    background: #252525;
    color: #fff;
    border-bottom-right-radius: 4px;
    animation: fadeIn 0.3s ease forwards;
}



.message.bot {
    align-self: flex-start;
    background: #E6E6FA;
    color: #1a202c;
    border-bottom-left-radius: 4px;
    animation: fadeIn 0.3s ease forwards;
}


.message-input {
    flex-grow: 1;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.25s ease;
    background-color: #000;
    color: #333;
}

.message-input:focus {
    border-color: #4facfe;
    background-color: #252525;
    color: white;
}

.message-input::placeholder {
    color: #999;
}